services:
  # cassandra-task1:
  #   image: cassandra:5.0.6
  #   container_name: cassandra-task1
  #   hostname: cassandra-task1
  #   ports:
  #     - "9042:9042"
  #   environment:
  #     - CASSANDRA_CLUSTER_NAME=ShopCluster
  #   volumes:
  #     - ./scripts:/scripts
  #   user: root
  #   command: [ "bash", "/scripts/mater-view.sh"]
  #   healthcheck:
  #     test: ["CMD", "cqlsh", "-e", "describe keyspaces"]
  #     interval: 10s
  #     timeout: 10s
  #     retries: 10
  #   networks:
  #     - cassandra-net-task1

  # cassandra-task1-setup:
  #   image: cassandra:5.0.6
  #   container_name: cassandra-setup
  #   depends_on:
  #     cassandra-task1:
  #       condition: service_healthy
  #   volumes:
  #     - ./scripts:/scripts
  #   networks:
  #     - cassandra-net-task1
  #   # restart: unless-stopped
  #   entrypoint: ["cqlsh", "cassandra-task1", "-f",  "/scripts/task_1.cql"]

  cassandra-node1:
    image: cassandra:5.0.6
    container_name: cassandra-node1
    environment:
      - CASSANDRA_CLUSTER_NAME=shop_cluster
      - CASSANDRA_RPC_ADDRESS=cassandra-node1
      - CASSANDRA_SEEDS=cassandra-node1,cassandra-node2
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    ports:
      - "9043:9042"
    networks:
      - cassandra-net

  cassandra-node2:
    image: cassandra:5.0.6
    container_name: cassandra-node2
    environment:
      - CASSANDRA_CLUSTER_NAME=shop_cluster
      - CASSANDRA_RPC_ADDRESS=cassandra-node2
      - CASSANDRA_SEEDS=cassandra-node1,cassandra-node2
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    networks:
      - cassandra-net

  cassandra-node3:
    image: cassandra:5.0.6
    container_name: cassandra-node3
    environment:
      - CASSANDRA_CLUSTER_NAME=shop_cluster
      - CASSANDRA_RPC_ADDRESS=cassandra-node3
      - CASSANDRA_SEEDS=cassandra-node1,cassandra-node2
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    networks:
      - cassandra-net

networks:
  cassandra-net:
  cassandra-net-task1:
