services:
  mongos:
    image: mongo:8.2
    container_name: mongos
    command: ["mongos", "--configdb", "rs_config/config-server:27017", "--bind_ip_all", "--port", "27017"]
    volumes:
      - ./scripts:/scripts
    ports:
      - 27017:27017
    depends_on:
      - config-server
      - shard1
      - shard2
      - shard3

  config-server:
    image: mongo:8.2
    container_name: config-server
    command: ["mongod", "--configsvr", "--replSet", "rs_config", "--bind_ip_all", "--port", "27017"]
    ports:
      - 27018:27017

  shard1:
    image: mongo:8.2
    container_name: shard1
    command: ["mongod", "--shardsvr", "--replSet", "rs_shard1", "--bind_ip_all", "--port", "27017"]
    ports:
      - 27019:27017

  shard2:
    image: mongo:8.2
    container_name: shard2
    command: ["mongod", "--shardsvr", "--replSet", "rs_shard2", "--bind_ip_all", "--port", "27017"]
    ports:
      - 27020:27017

  shard3:
    image: mongo:8.2
    container_name: shard3
    command: ["mongod", "--shardsvr", "--replSet", "rs_shard3", "--bind_ip_all", "--port", "27017"]
    ports:
      - 27021:27017
